.search-box{
    display: flex;
}
.btn{
    padding: 5px 15px;
    background-color: salmon;
    color: white;
}
.searched-meal img{
    width: 300px;
    justify-content: center;
}
#search-result{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    width: 80%;
    margin: auto;
    padding: 40px;

}
.single-meal{
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
    background-color: gray;
    justify-content: inherit;
    /* height: 226px;
    width: 270px; */
}
.meal-title{
    background-color:whitesmoke;
    padding: 10px 5px;
}
.single-meal p{
    margin: 0;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
/* .single-meal-img{
    width: 500px;
    justify-content: center;
    border-radius: 10px;
    margin: 0;
} */