.search-box{
    display: flex;
}
.btn{
    padding: 5px 15px;
    background-color: salmon;
    color: white;
}
.searched-meal img{
    width: 200px;
}
.searched-meal{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}